.benefits_outermost {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-right: 60px;
    padding-left: 60px;
}

.benefits_outermost p {
    font-size: 14px;
    color: gray;
}

.globe_icon {
    background-color: #FDDA0D;
    width: 75px !important;
    height: 63px !important;
    border-radius: 10px;
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swap_icon {
    background-color: #F33A6A;
    width: 75px !important;
    height: 63px !important;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cloud_icon {
    background-color:#6685FF;
    width: 75px !important;
    height: 63px !important;
    border-radius: 10px;
    margin-bottom: 20px;
}
.download_btn{
    margin-top: 34px;
   padding: 11px 47px !important; 
   background-color: #6685FF !important;
}