.header_outermost_div {
    background-color: blue;
    padding-top: 34px;
    padding-bottom: 100px;
    clip-path: polygon(0 -2%, 100% 0, 100% 65%, 0 100%);
}

.search_grp {
    display: flex;
    align-items: baseline;
}

.search-icon {
    background-color: palevioletred;
    padding: 7px 30px 7px 30px;
    max-height: 43px !important;
    color:aliceblue

}

.searchbar {
    max-width: 300px;
    border-radius: 0px !important;
    margin-top: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: aliceblue !important
}

.main_heading {
    font-size: 20px;
    font-weight: 800;
    color: white;

}

.align_start {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.main_heading p {
    margin-bottom: 0px !important;
}

.header_texts p {
    margin-bottom: 0px !important;
    color: white;
    font-size: 50px !important;
    font-weight: 1000;
    line-height: 66px;
    text-decoration: none !important;
}

.header_subtext {
    font-size: 12px;
    font-weight: 300;
    color: white;
    margin-bottom: 2px;
}

.text_div {
    margin-top: 25px !important;
}