.outermost_div {
    background-color:#4169E1;
    color: aliceblue;
    padding-top: 105px;
    padding-bottom: 105px;
    padding-right: 60px;
    padding-left: 60px;
}

.header_text {
    font-size: 32px;
    font-weight: 800;
    text-decoration: underline #F33A6A;
    margin-bottom: 25px;
}

.subheader_text {
    font-size: 14px;
    font-weight: 400;
}

.status_digits {
    margin-bottom: 2px;
    font-size: 40px !important;
    font-weight: 600;
}

.center div {
    margin: 0px 30px !important;
}